.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-b-5 {
  margin-bottom: 5px;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-40 {
  margin-bottom: 40px;
}
.margin-b-60 {
  margin-bottom: 60px;
}
.padding-l-5 {
  padding-left: 5px;
}
.padding-l-10 {
  padding-left: 10px;
}
.padding-l-15 {
  padding-left: 15px;
}
.padding-l-20 {
  padding-left: 20px;
}