@import "uview-ui/theme.scss";
// 定义全局样式变量
$mycolor: #0081ff;

/* 颜色变量 */
$main-font-color: #333333; // 主文字颜色
$desc-font-color: #999999; // 描述文字颜色
$main-bg-color: #f8f8f8; // 主背景颜色
$font-color: #666666; // 常规文字颜色
$primary: #2b6bff;
